# starship config
# zoug
#
# show time
[time]
disabled = false

# battery shown in yellow below 30%, red below 20%
[[battery.display]]
threshold = 30
style = 'bold yellow'
[[battery.display]]
threshold = 20
style = 'bold red'

# Replace the '❯' symbol in the prompt with '➜'
[character] # The name of the module we are configuring is 'character'
success_symbol = '[➜](bold green)' # The 'success_symbol' segment is being set to '➜' with the color 'bold green'

# nerd font symbols
# https://starship.rs/presets/nerd-font
[aws]
symbol = "  "

[c]
symbol = " "

[directory]
read_only = " 󰌾"

[docker_context]
symbol = " "

[git_branch]
symbol = " "

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[haskell]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
CentOS = " "
Debian = " "
Fedora = " "
Kali = " "
Linux = " "
Mint = " "
NixOS = " "
openSUSE = " "
OracleLinux = "󰌷 "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
SUSE = " "
Ubuntu = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "

[gradle]
symbol = " "
